<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body>
    <div class="flex flex-col items-center justify-center h-28">
        
        {% if current_user.is_authenticated %}
        <div class="bg-gray-300 flex justify-between m-4 p-4 items-center w-screen">
            <h1>Welcome, {{ current_user.first_name }}</h1>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
        {% else %}
            <form action="{{ url_for('auth.login') }}" method="post">
                <input type="text" name="email" placeholder="Username" class="mr-2 rounded-lg ring-2 ring-gray-300 p-2">
                <input type="password" name="password" placeholder="Password" class="mr-2 rounded-lg ring-2 ring-gray-300 p-2">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-2 ">Login</button>
                    <a href="{{ url_for('auth.register') }}" class="text-blue-500">Register</a>
            </form>
            
        {% endif %}
    </div>
    <div>
        {% for message in get_flashed_messages() %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative my-3" role="alert">
            <strong class="font-bold">Success!</strong>
            <span class="block sm:inline">{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% if current_user.is_authenticated %}
        <div class="flex flex-row justify-center items-center space-x-4">
           
                   <ul class="flex flex-row justify-center items-center space-x-4">
                    <li><a href="{{ url_for('dashboard.get_users') }}"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                        >Dashboard</a></li>
                    <li><a href="{{ url_for('dashboard.add_child') }}"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                        >Add Child</a></li>
                    <li><a href="{{ url_for('order.order_page') }}"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                        >Order</a></li>
                   </ul>
                
        </div>
    {% block content %}{% endblock %}
        </div>
        {% else %}
            <h1>
                Please login to access the dashboard
            </h1>
            
        {% endif %}
    


   
</body>

</html>
